name: Unit tests

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

env:
  FORCE_COLOR: "1"
  PYTHONDEVMODE: "1" # -X dev
  PYTHONWARNDEFAULTENCODING: "1" # -X warn_default_encoding

jobs:
  test:
    strategy:
      matrix:
        python:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python }}
          cache: "pip"
          cache-dependency-path: pyproject.toml
          allow-prereleases: true

      - name: test
        run: make test INSTALL_EXTRA=test

  test-offline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.14
          cache: "pip"
          cache-dependency-path: pyproject.toml
          allow-prereleases: true

      - name: install firejail
        run: sudo apt-get install -y firejail

      - name: run tests offline
        run: |
          make dev INSTALL_EXTRA=test
          firejail --noprofile --net=none --env=TEST_OFFLINE=1 make test-nocoverage
